// création des variables de couleur
$mainColor: #0C1E35;
$secondColor: #18293F;
$text-color: #adadad;
$text-color-hover: #d8d8d8;

//variables par défaut de proSideBar
$sidebar-bg-color: $mainColor !default;
$sidebar-color: $text-color !default;
$sidebar-width: 200px !default;
$sidebar-collapsed-width: 70px !default;
$highlight-color: $text-color-hover !default;
$submenu-bg-color: $secondColor !default;
$submenu-bg-color-collapsed: $secondColor !default;
$icon-bg-color: $secondColor !default;
$icon-size: 35px !default;
$submenu-indent: 24px !default;
$breakpoint-xs: 480px !default;
$breakpoint-sm: 576px !default;
$breakpoint-md: 768px !default;
$breakpoint-lg: 992px !default;
$breakpoint-xl: 1200px !default;
$breakpoint-xxl: 1600px !default;

//ajouter le css par défaut à la fin
@import '~react-pro-sidebar/dist/scss/styles.scss';